<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src=" https://code.angularjs.org/1.6.4/angular.js">

    </script>
</head>

<body>

    <div ng-app="" ng-init="points=[1,15,19,2,40];person={firstName:'John',lastName:'Doe'};names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">
        <p>第三个值为 <span ng-bind="points[2]"></span></p>
        <p>第三个值为 {{ points[2] }}</p>
        <p>姓为 <span ng-bind="person.lastName"></span></p>
        <p>姓为 {{ person.lastName }}</p>
        <ul>
            <li ng-repeat="x in points">
                {{x}}
            </li>
        </ul>
        <ul>
            <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
    </div>


</body>


</html>